*{
    box-sizing: border-box;
    margin:0;
    padding:0;
  }
  @media screen and (max-width: 1440px){
    body{
      background-image: url("../images/bg-desktop.svg");
      background-color: rgb(103, 75, 177);
      background-repeat: no-repeat;
    }
    .logodiv img{
      padding:40px;
      width:18%;
    }
    
    .picture{
      padding:30px 30px 0 30px;
      height:80%;
      float:left;
    }
  
    h2{
     font-family: 'Poppins', sans-serif;
     color:#FEFCFF;
     font-size: 2.25em;
     font-weight: 700;
  }
    .write-up{
      padding:50px 100px 0 50px;
    }
    p{
    padding-top:30px;
    color:#FEFCFF;
    font-family: 'Open Sans', sans-serif;
    font-size:0.9em;
  }
  .register{
    padding-top: 20px;
  }
  button{
    color:#9386BB;
    font-family: 'Poppins', sans-serif;
    width:12%;
    padding: 10px 10px;
    border-radius:50px;
    box-shadow: 0px 3px 3px 0px #543D8F;
    border-style: none;
  }
  .sm-icons{
    margin-left:1100px;

  }
  .sm-icons i{
    color: #FEFCFF;
    border:1px solid #FEFCFF; 
    border-radius:50%;
    padding:10px;
    margin-left: 10px;
  }
  }
  @media screen and (max-width: 375px) {  
  body{
    background: url("../images/bg-mobile.svg");
    background-repeat: no-repeat;
    background-color:rgb(103, 75, 177) ;  
  }
  .logodiv img{
    width:40%;
    padding: 30px 0 0 40px; 
  }
  .picture{
    height:100%;
    padding:57px 30px 40px 30px;
    float:none;
  }
  .picture img{
    width:97%;
  }
  h2{
     font-family: 'Poppins', sans-serif;
     color:#FEFCFF;
     text-align: center;
     padding:20px 30px 0 30px;
     font-weight: 700;
     font-size: 1.5em;
  }
  .write-up{
    padding:15px;
  }
  p{
    text-align: center;
    color:#FEFCFF;
    padding: 10px 20px 0 20px;
    font-family: 'Open Sans', sans-serif;
    font-size:1em;
  }
  .register{
    padding-top: 10px;
  }
  button{
    color:#B2A5D3;
    font-family: 'Poppins', sans-serif;
    width:40%;
    margin-left: 110px;
    padding: 5px 0 5px 0;
    border-radius:50px;
    border-style: none;
    box-shadow: 0px 3px 3px 0px #543D8F;
  }
  .sm-icons{
    margin-left:90px;
    padding:30px;
  }
  .sm-icons i{
    color:#FEFCFF;
    padding:10px;
    margin-left:5px;
    border:1px solid #FEFCFF; 
    border-radius:50%;
  }
  }
  